.icon-hourglass_full:before {
    content: "\e88c";
}
.icon-note_add:before {
    content: "\e89c";
}
.icon-notifications:before {
    content: "\e7f4";
}
.icon-notifications_active:before {
    content: "\e7f7";
}
.icon-notifications_none:before {
    content: "\e7f5";
}
.icon-notifications_off:before {
    content: "\e7f6";
}
.icon-notifications_paused:before {
    content: "\e7f8";
}
.icon-offline_pin:before {
    content: "\e90a";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-info-circle:before {
    content: "\f05a";
}
